<div class="kfinst-tile-container">
    <div class="kfinst-tile-header">
        <h3 weight="strong" class="color-dark size-md weight-strong">Organization Summary</h3>
        <p color="medium" kf-text="" class="kf-text color-medium">Allocations and Payroll by Function</p>
    </div>

    <div class="kfinst-tile-body">
        <div body="">
            <div class="kf-chart"><svg>
                    <defs></defs>
                    <g class="kf-chart-z-index">
                        <g id="kf-chart-series-bubble-1">
                            <circle class="kf-chart-bubble kf-chart-bubble-circle"
                                id="kf-chart-series-bubble-1-label-0" r="110" transform="translate(277, 110)"
                                stroke="transparent" opacity="1" fill="transparent"></circle>
                            <circle class="kf-chart-bubble kf-chart-bubble-circle"
                                kf-chart-bubble-selector-hover="1" id="kf-chart-series-bubble-1-label-1"
                                r="57.1824542806559" transform="translate(227.00315906878205, 100.6031045100577)"
                                stroke="transparent" opacity="1" fill="#566fd6"></circle>
                            <circle class="kf-chart-bubble kf-chart-bubble-circle"
                                kf-chart-bubble-selector-hover="1" id="kf-chart-series-bubble-1-label-2"
                                r="49.085137146878864" transform="translate(335.2160469244176, 100.6031045100577)"
                                stroke="transparent" opacity="1" fill="#45b7de"></circle>
                            <circle class="kf-chart-bubble kf-chart-bubble-circle"
                                kf-chart-bubble-selector-hover="1" id="kf-chart-series-bubble-1-label-3"
                                r="39.35566413994956" transform="translate(288.1759347914314, 177.78389558302362)"
                                stroke="transparent" opacity="1" fill="#32b5a0"></circle>
                        </g>
                    </g>
                </svg>
                <div class="kf-chart-series" selectsize="value" type="bubble"></div>
                <div class="kf-chart-label-text"
                    style="transform: translate(227.003px, 100.603px) translate(-40.4341px, -40.4341px); height: 80.8682px; width: 80.8682px; font-size: 12px; line-height: 12px; color: rgb(255, 255, 255); position: absolute; left: 0px; top: 0px; background-color: transparent;">
                    Food Solutions</div>
                <div class="kf-chart-label-text"
                    style="transform: translate(335.216px, 100.603px) translate(-34.7084px, -34.7084px); height: 69.4169px; width: 69.4169px; font-size: 12px; line-height: 12px; color: rgb(255, 255, 255); position: absolute; left: 0px; top: 0px; background-color: transparent;">
                    Industrial Solutions</div>
                <div class="kf-chart-label-text"
                    style="transform: translate(288.176px, 177.784px) translate(-27.8287px, -27.8287px); height: 55.6573px; width: 55.6573px; font-size: 11px; line-height: 11px; color: rgb(255, 255, 255); position: absolute; left: 0px; top: 0px; background-color: transparent;">
                    Corporate</div>
            </div>

            <p class="additional-info kf-text color-medium size-sm" color="medium" kf-text="" size="sm">
                The business units that are displayed above are based on your organization's employee allocation.
            </p>

            <p class="info kf-text color-dark size-sm" kf-text="" size="sm">
                <b>38%</b> of your employee population is in<b>
                    "Food Solutions"</b> representing <b>
                    36%</b> of your payroll allocation.
            </p>

            <div class="table">
                <table>
                    <thead>
                        <th></th>
                        <th>
                            <span kf-text="" size="sm" weight="strong" class="kf-text color-dark size-sm weight-strong">
                                Employee Allocation
                            </span>
                        </th>
                        <th>
                            <span kf-text="" size="sm" weight="strong" class="kf-text color-dark size-sm weight-strong">
                                Payroll Distribution
                            </span>
                        </th>
                    </thead>
                    <tbody>
                        <tr class="ng-star-inserted">
                            <td>
                                <span class="level level-0"></span>
                                <span kf-text="" size="sm" class="kf-text color-dark size-sm">
                                    Food Solutions
                                </span>
                            </td>
                            <td>
                                <span kf-text="" size="sm" class="kf-text color-dark size-sm">
                                    38%
                                </span>
                            </td>
                            <td>
                                <span kf-text="" size="sm" class="kf-text color-dark size-sm">
                                    36%
                                </span>
                            </td>
                        </tr>
                        <tr class="ng-star-inserted">
                            <td>
                                <span class="level level-1"></span>
                                <span kf-text="" size="sm" class="kf-text color-dark size-sm">
                                    Industrial Solutions
                                </span>
                            </td>
                            <td>
                                <span kf-text="" size="sm" class="kf-text color-dark size-sm">
                                    28%
                                </span>
                            </td>
                            <td>
                                <span kf-text="" size="sm" class="kf-text color-dark size-sm">
                                    27%
                                </span>
                            </td>
                        </tr>
                        <tr class="ng-star-inserted">
                            <td>
                                <span class="level level-2"></span>
                                <span kf-text="" size="sm" class="kf-text color-dark size-sm">
                                    Corporate
                                </span>
                            </td>
                            <td>
                                <span kf-text="" size="sm" class="kf-text color-dark size-sm">
                                    18%
                                </span>
                            </td>
                            <td>
                                <span kf-text="" size="sm" class="kf-text color-dark size-sm">
                                    22%
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="kfinst-tile-footer">
        <span class="view-more pointer kf-text color-primary size-md weight-strong ng-star-inserted" color="primary" kf-text="" size="md" weight="strong">
            View Details
        </span>
    </div>
</div>
