<div class="component-selector">
    SELECT COMPONENT:
    <select [ngModel]="selectedComp">
        <option value="org-summary">Org Summary</option>
        <option value="role-similarity">Role Similarity</option>
    </select>
</div>

<div id="capture" class="capture-container">
    <div *ngIf="selectedComp==='org-summary'">
        <app-org-summary></app-org-summary>
    </div>
    <div *ngIf="selectedComp==='role-similarity'">
        <app-role-similarity></app-role-similarity>
    </div>
</div>

<div class="action-container">
    <button class="save-button" (click)="save()">Save</button>
</div>
