<!--
<div _ngcontent-c23="" class="kfinst-tile-container ng-star-inserted">
    <div _ngcontent-c23="" class="kfinst-tile-header">
        <div class="kfinst-tile-header">
            <h3 _ngcontent-c47="" kf-text="" size="md" weight="strong" _nghost-c3=""
                class="kf-text color-dark size-md weight-strong">
                Role Similarity Matrix
            </h3>
            <p _ngcontent-c47="" color="medium" kf-text="" _nghost-c3="" class="kf-text color-medium">
                Compare roles in your entire organization for effective succession planning
            </p>
        </div>
    </div>

    <div _ngcontent-c23="" class="kfinst-tile-body">
        <kfinst-tile-role-similarity-matrix _ngcontent-c20="" kfinst-tile-body="" _nghost-c25="">
            <div _ngcontent-c25="" class="container">
                <div _ngcontent-c25="" class="ng-star-inserted">
                    <kf-chart _ngcontent-c25="" class="donut kf-chart"><svg _ngcontent-c25="">
                            <defs _ngcontent-c25=""></defs>
                            <g class="kf-chart-z-index">
                                <g id="kf-chart-series-donut-2" transform="translate(40, 40)">
                                    <path class="kf-chart-donut-arc" kf-chart-donut-selector-hover="true"
                                        transform="rotate(0)" stroke="#fff" stroke-width="0" fill="#007bc7"
                                        d="M2.4492935982947065e-15,-40A40,40,0,1,1,-2.4492935982947065e-15,40A40,40,0,1,1,2.4492935982947065e-15,-40M-6.613092715395707e-15,-36A36,36,0,1,0,6.613092715395707e-15,36A36,36,0,1,0,-6.613092715395707e-15,-36Z">
                                    </path><text class="kf-chart-label" dy="-1.3333333333333333" text-align="center"
                                        fill="#fff" font-size="15" font-weight="400" letter-spacing="0">
                                        <textPath startOffset="50%" text-anchor="middle"
                                            xlink:href="#arc-kf-chart-series-donut-2-0"></textPath>
                                    </text>
                                </g>
                            </g>
                        </svg>
                        <kf-chart-series _ngcontent-c25="" type="donut"></kf-chart-series>
                        <kf-chart-donut-label
                            style="height: 50.9117px; width: 50.9117px; transform: translate(14.5442px, -69.4558px); overflow: hidden; position: relative; display: flex; justify-content: center; align-items: center; text-align: center; font-weight: 700; font-size: 16px;">
                            23</kf-chart-donut-label>
                    </kf-chart>
                    <div _ngcontent-c25="">Total</div>
                    <div _ngcontent-c25="">Functions</div>
                </div>
                <div _ngcontent-c25="" class="ng-star-inserted">
                    <kf-chart _ngcontent-c25="" class="donut kf-chart"><svg _ngcontent-c25="">
                            <defs _ngcontent-c25=""></defs>
                            <g class="kf-chart-z-index">
                                <g id="kf-chart-series-donut-3" transform="translate(40, 40)">
                                    <path class="kf-chart-donut-arc" kf-chart-donut-selector-hover="true"
                                        transform="rotate(0)" stroke="#fff" stroke-width="0" fill="#45b7de"
                                        d="M2.4492935982947065e-15,-40A40,40,0,1,1,-2.4492935982947065e-15,40A40,40,0,1,1,2.4492935982947065e-15,-40M-6.613092715395707e-15,-36A36,36,0,1,0,6.613092715395707e-15,36A36,36,0,1,0,-6.613092715395707e-15,-36Z">
                                    </path><text class="kf-chart-label" dy="-1.3333333333333333" text-align="center"
                                        fill="#fff" font-size="15" font-weight="400" letter-spacing="0">
                                        <textPath startOffset="50%" text-anchor="middle"
                                            xlink:href="#arc-kf-chart-series-donut-3-0"></textPath>
                                    </text>
                                </g>
                            </g>
                        </svg>
                        <kf-chart-series _ngcontent-c25="" type="donut"></kf-chart-series>
                        <kf-chart-donut-label
                            style="height: 50.9117px; width: 50.9117px; transform: translate(14.5442px, -69.4558px); overflow: hidden; position: relative; display: flex; justify-content: center; align-items: center; text-align: center; font-weight: 700; font-size: 16px;">
                            67</kf-chart-donut-label>
                    </kf-chart>
                    <div _ngcontent-c25="">Total</div>
                    <div _ngcontent-c25="">Subfunctions</div>
                </div>
                <div _ngcontent-c25="" class="ng-star-inserted">
                    <kf-chart _ngcontent-c25="" class="donut kf-chart"><svg _ngcontent-c25="">
                            <defs _ngcontent-c25=""></defs>
                            <g class="kf-chart-z-index">
                                <g id="kf-chart-series-donut-4" transform="translate(40, 40)">
                                    <path class="kf-chart-donut-arc" kf-chart-donut-selector-hover="true"
                                        transform="rotate(0)" stroke="#fff" stroke-width="0" fill="#566fd6"
                                        d="M2.4492935982947065e-15,-40A40,40,0,1,1,-2.4492935982947065e-15,40A40,40,0,1,1,2.4492935982947065e-15,-40M-6.613092715395707e-15,-36A36,36,0,1,0,6.613092715395707e-15,36A36,36,0,1,0,-6.613092715395707e-15,-36Z">
                                    </path><text class="kf-chart-label" dy="-1.3333333333333333" text-align="center"
                                        fill="#fff" font-size="15" font-weight="400" letter-spacing="0">
                                        <textPath startOffset="50%" text-anchor="middle"
                                            xlink:href="#arc-kf-chart-series-donut-4-0"></textPath>
                                    </text>
                                </g>
                            </g>
                        </svg>
                        <kf-chart-series _ngcontent-c25="" type="donut"></kf-chart-series>
                        <kf-chart-donut-label
                            style="height: 50.9117px; width: 50.9117px; transform: translate(14.5442px, -69.4558px); overflow: hidden; position: relative; display: flex; justify-content: center; align-items: center; text-align: center; font-weight: 700; font-size: 16px;">
                            1281</kf-chart-donut-label>
                    </kf-chart>
                    <div _ngcontent-c25="">Total</div>
                    <div _ngcontent-c25="">Success Profiles</div>
                </div>
            </div>

            <div _ngcontent-c25="" class="ng-star-inserted">
                <h5 _ngcontent-c25="" kf-text="" size="md" weight="strong" _nghost-c3=""
                    class="kf-text color-dark size-md weight-strong">Select Two Functions for Comparison
                </h5>
                <span _ngcontent-c25="" class="dropdowns-description kf-text color-dark size-sm" kf-text="" size="sm"
                    _nghost-c3="">is.selectTwoFunctionsForComparisonDescription
                </span>
                <div _ngcontent-c25="" class="dropdowns-row">
                    <form _ngcontent-c25="" novalidate="" class="ng-untouched ng-pristine ng-valid">
                    </form>
                </div>
            </div>
        </kfinst-tile-role-similarity-matrix>
    </div>

    <div _ngcontent-c23="" class="kfinst-tile-footer">
        <span _ngcontent-c20=""
            class="view-more pointer disabled kf-text color-primary size-md weight-strong ng-star-inserted"
            color="primary" kf-text="" kfinst-tile-footer="" size="md" weight="strong" _nghost-c3="">Compare Roles
        </span>
    </div>
</div>
-->